#menu_top ul{margin-left:0}#menu_top ul li{display:inline-block;font-size:18px}#menu_top ul li a{color:#4f5054}#menu_top ul li a:hover{background:transparent;color:#2e4588}
h1,h2,h3,h4{color:#363636}
body{padding:0;font-size:16px}
#logo{background:#0071bd no-repeat top right;height:76px}#logo .moduletable{position:relative}
#logo img{position:absolute;top:0;right:0;z-index:999}
#logo p{margin:0;padding:0}
.redes_sociales{width:103% !important;display:inline-flex !important}
legend{font-size:12px}
.form-actions{background:transparent;border:none}
.search .phrases-box label{display:inline-block}
.ordering-box .ordering{display:inline-block}
.search .only{display:none}
.header{height:468px;overflow:hidden;position:relative;margin:0;padding:0;min-width:1220px}
#banner_principal{padding:0;min-width:1440px}
#contenedor{width:1220px;min-width:1220px}
#menu_top{background-color:#fff;margin:0;padding:0;height:76px}
#menu_top ul li:hover{background:#fff}
#buscador{padding-top:5px}
#noticias-img-izq{background:url("../images/pestana_izquierda_clientes.png") no-repeat scroll center;float:left;height:66px;margin-top:11px;width:17px}
#noticias-img-der{background:url("../images/pestana_derecha_clientes.png") no-repeat scroll center;float:left;height:66px;margin-top:11px;width:17px}
#noticias{background:none repeat scroll 0 0 rgba(0,0,0,0);margin-bottom:2px;margin-top:-46px;margin-bottom:23px;z-index:9999;margin-bottom:14px}#noticias .k2ItemsBlock{position:relative}
#noticias ul{margin:0;padding:0}#noticias ul li{border:none;list-style:none}
#noticias img{max-height:85px;width:120px;height:85px;margin-right:15px;border-radius:10px}
#noticias .moduleItemImage{float:left}
#noticias .moduleItemTitle{color:#283d72;font-weight:bold;font-size:1em}
#noticias .boton_ver_todas{text-align:center}
#noticias .ver_todas{padding:10px 15px;color:#283d72;text-align:center;display:block;border-radius:0 0 10px 10px}#noticias .ver_todas:hover{text-decoration:underline}
#noticias .inside{background-color:#fff;border:2px solid #0071bd;border-radius:16px;float:left;padding:2px;width:93%}
#noticias .titulo{padding:30px 0;text-align:center;font-weight:bold}
#ultimas_noticias{background:none repeat scroll 0 0 rgba(0,0,0,0);margin-bottom:2px;margin-bottom:23px;z-index:9999;margin-bottom:14px}#ultimas_noticias .k2ItemsBlock{position:relative}
#ultimas_noticias ul{margin:0;padding:0}#ultimas_noticias ul li{border:none;list-style:none}
#ultimas_noticias img{max-height:177px;width:100%;height:177px;margin-right:15px;border-radius:10px}
#ultimas_noticias .moduleItemTitle{background-color:#0071bd;color:#fff;font-weight:bold;font-size:1em;width:98%;display:block;padding:1%;border-radius:5px;margin-bottom:5px}
#ultimas_noticias .boton_ver_todas{text-align:center}
#ultimas_noticias .ver_todas{padding:10px 15px;color:#283d72;text-align:center;display:block;border-radius:0 0 10px 10px}#ultimas_noticias .ver_todas:hover{text-decoration:underline}
#ultimas_noticias .inside{background-color:#fff;border:2px solid #0071bd;border-radius:16px;float:left;padding:2px;width:93%}
#ultimas_noticias .titulo{padding:30px 0;text-align:center;font-weight:bold}
#secciones_home{margin-bottom:20px}#secciones_home li{list-style:none;border:none}
#secciones_home img{max-height:85px;height:85px;margin-right:15px;border-radius:10px;float:left}
#secciones_home .moduleItemTitle{color:#2d2d2d;font-weight:bold;font-size:1em}#secciones_home .moduleItemTitle:hover{color:#006f37}
#secciones_home .moduleItemImage{float:left}
#secciones_home ul{margin:0}
#secciones_home .k2ItemsBlock{padding:10px;padding:20px 25px;background:#fff}
#twitter{background:#c6c6c6;padding:10px}#twitter .wk-twitter.wk-twitter-list{background:#fff;padding-bottom:34%}
#twitter h3{background:url("../img/iconotitulos.png") left top #f0f0f0 no-repeat;height:28px;padding:5px 0 0 29px;margin-top:0}
#clientes{background-color:#ececec;padding-top:10px;padding-bottom:15px;border-bottom:2px solid #000}#clientes h3{background:url("../img/iconotitulos.png") left top #f0f0f0 no-repeat;height:28px;padding:5px 0 0 29px;margin-top:0}#clientes h3 span{color:#666;font-size:12px}
.catItemTitle,.itemTitle{background:url("../img/iconotitulos.png") left top #f0f0f0 no-repeat;height:28px;padding:5px 0 0 29px;margin-top:10px;border:5px solid #fff;color:#078c55}.catItemTitle a,.itemTitle a{color:#078c55}.catItemTitle a:hover,.itemTitle a:hover{color:#223570;text-decoration:none}
.catItemReadMore{text-align:right}
.catItemImageBlock{float:left;margin-right:10px;margin-bottom:10px}
.k2Pagination ul li{display:inline-block;margin:10px}
#contenedor_home{background:#fff url(../images/degrade_fondo.png) repeat-x;margin-top:-100px}
#banner1Home,#banner2Home{background:#fff;height:132px;margin-top:10px;width:49%;margin-bottom:2%;}
#banner1Home{margin-right:1%}
#banner2Home{margin-left:1%}
#bannerBottomHome{background:#fff;margin-top:10px;height:264px;margin-bottom:2%}
#contenido{background:#f7f7f7}
.itemView div.itemToolbar{background:transparent;border:none}
.itemView .itemTitle,.itemView h3{color:#24326f}
.itemView .itemFullText h3{border-bottom:1px solid #000;margin-bottom:10px;padding:0;margin-bottom:10px}
.servicios .catItemTitle{text-align:center;font-size:1em;height:32px;padding-top:11px}
.servicios h2{color:#24326f;text-align:center}
.servicios img{border-radius:10px}
.servicios .catItemView:hover .catItemImage{background:#21358b}
.servicios .catItemView:hover h3 a{color:#21358b;text-decoration:none;font-weight:bold}
.servicios .catItemImage{background:#fff;display:block;padding:10px;margin:10px;border-radius:10px}.servicios .catItemImage:hover{background:#21358b}
.servicios .catItemImage img{width:260px;height:170px}
.servicios .itemContainer h3 a{color:#6c6c6c}
div.itemContainer{float:left}
#k2Container.servicio .itemImageBlock{display:inline-block;float:right}
#menu_inferior{color:#fff}
#footer{text-align:center;margin-top:10px;background:#0071bd;color:#fff;padding-top:15px;padding-bottom:5px}
#menu_inferior ul{margin:5px 0}#menu_inferior ul li{display:inline-block}#menu_inferior ul li a{color:#fff;border-radius:5px;padding:5px 10px}#menu_inferior ul li a:hover{background:#40b032}
#k2Container{padding-top:10px}
#moviendo{display:inline-block;margin-right:30%}
#menu_inferior_interno{display:inline-flex}
#mod-search-searchword{width:140px !important;background-position:left center;padding-left:17px;width:183px;background:url("../images/search.png") no-repeat scroll 8px 6px #0071bd;margin-top:10px;padding:6px 15px 6px 30px;height:12px;-webkit-border-radius:2px 14px 0 11px;-moz-border-radius:2px 14px 0 11px;border-radius:2px 14px 0 11px}
#menu_top .moduletable{position:relative}
#menu_top ul{margin:0;position:absolute}
#menu_top ul li{height:92px;width:115px !important;margin-top:-6px;z-index:1000}
#menu_top ul li:hover{text-align:center;background:url("../images/pestana_botones.png") no-repeat scroll center bottom}#menu_top ul li:hover a{background:url("../images/pestana_botones_2.png") no-repeat scroll center top;background-color:#0071bd;height:48px !important;width:auto !important;color:#fff}
#menu_top ul li a{height:67px !important;text-align:center;padding-top:32px}
.grid-80{width:75%}
.hr-secciones_home{background-color:#fff;height:3px}
.first{margin-top:101px;margin-bottom:9px}
.second{margin-top:-9px}
.dl-horizontal dd{margin-left:43px}
.contact-form,.contact-miscinfo{display:inline-flex !important}
.contact-form+h3{display:none}
.jicons-icons img{display:none !important}
.custom.redes_sociales img{height:32px !important;width:32px !important;margin-top:7px}
.navigation{border-bottom:2px solid #b9d5e4}
#mod-search-searchword{color:#fff}
#banner_home h3{background:#0071bd;color:#fff;margin:0;padding:0 1%;font-size:1em;border-radius:5px}
#banner_home .custom{border:1px solid #808080;margin-top:5px;border-radius:5px;padding:10px;height:231px}
